body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 16px; /* Membuat sudut lebih membulat */
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  gap: 10px; /* Jarak antar elemen */
}

.task-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word; /* Membuat teks wrap jika terlalu panjang */
}

.task-name, .task-label {
  font-size: 14px;
  color: #161414;
}

.task-name {
  font-weight: bold;
}

.task-priority {
  font-weight: bold;
}

.task-priority.high {
  color: red;
}

.task-priority.medium {
  color: orange;
}

.task-priority.low {
  color: green;
}

.task-status {
  background-color: #e9ecef;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #495057;
  cursor: pointer;
}

.icon-btn.delete {
  color: red;
}


/* Basic styling for the task status indicator */
.task-status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid transparent;
}

.status-todo {
  border-color: #ccc; /* Gray border for "To Do" */
}

.status-in-progress {
  border-top-color: #3498db; /* Blue border for "In Progress" */
  animation: spin 1s linear infinite;
}

.status-done {
  background-color: #2ecc71; /* Green background for "Done" */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

/* Spin animation */
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


